<!DOCTYPE html>
<html lang="en" ng-app="shareApp">

  <head>
    <%= favicon_link_tag 'favicon.ico' %>
      <title>ShareMJ</title>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
      <base href="/">
  </head>

  <script type="text/javascript" src="assets/filepicker-js/dist/filepicker.js"></script>

  <body>
    <div ng-view>
      <%= yield %>
    </div>
  </body>
  
</html>
